// Color Scheme
$dark-bg: #2F3141;
$light-grey: #CCCEDB;

$light-purple: #c0a5fe;
$mid-purple: #a090ff;
$dark-purple: #6b77e0;
$darker-purple: #444d9e;
$blue: #50ccff;

$red: #af3c3c;
$green: #56b756;

$font-family: 'Lato', sans-serif;
$shadow: 0px 5px 5px rgba(0, 0, 0, .1);

// Gradient from
// https://www.gradientmagic.com
$bg-gradient: linear-gradient(45deg, rgb(116, 216, 252),rgb(156, 153, 254));
