@import 'variables';

.enemy-create {
  .enemy-input {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: calc(100% - 40px);
    padding: 20px;
    input {
      width: 100%;
      margin-right: 20px;
      border-radius: 50px;
      height: 50px;
      font-size: 25px;
      border: none;
      outline: none;
      padding: 0 20px;
      + input {
        max-width: 73px;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .enemy-create {
    .enemy-input {
      .icon-text-button {
        min-width: 50px;
        max-width: 50px;
        span {
          display: none;
        }
      }
    }
  }
}
