@import 'variables';

.enemy-create {
  .enemy-input {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: calc(100% - 40px);
    padding: 20px;
    input {
      width: 100%;
      margin-right: 20px;
      border-radius: 50px;
      height: 50px;
      font-size: 25px;
      border: none;
      outline: none;
      padding: 0 20px;
    }
    button {
      display: flex;
      border-radius: 50px;
      padding: 0;
      border: 0;
      background: $darker-purple;
      box-shadow: $shadow;
      outline: none;
      min-width: 160px;
      span {
        width: 100%;
        line-height: 50px;
        color: white;
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .enemy-create {
    .enemy-input {
      button {
        min-width: 50px;
        max-width: 50px;
        span {
          display: none;
        }
      }
    }
  }
}
