@import 'variables';

header.app-header {
  h2 {
  	font-weight: 300;
  	font-size: 35px;
  	background: $mid-purple;
  	margin: 0;
  	padding: 20px;
  	box-shadow: $shadow;
    a {
      color: black;
      text-decoration: none;
    }
  }
}
