@import 'variables';

.damage-modal {
  header {
    position: relative;
    h3 {
      text-transform: capitalize;
      margin: 0;
    }
    h2 {
      margin: 10px 0;
      font-size: 30px;
    }
    .icon-button {
      position: absolute;
      top: 10px;
      right: 0px;
    }
  }
  .row {
    display: flex;
    margin-bottom: 10px;
    > * {
      width: 100%;
      margin-right: 10px;
      background: white;
      border: none;
      padding: 30px 0;
      border-radius: 50%;
      outline: none;

      &:last-child {
        margin-right: 0;
      }
      &.heal {
        background: $green;
      }
      &.damage {
        background: $red;
      }
    }
  }
}
