@import 'variables';

body {
	color: black;
	font-family: $font-family;
  background: url('/assets/background.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

i, .unselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
