@import 'variables';

body {
	color: black;
	font-family: $font-family;
  background: url('/assets/background.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-repeat: repeat;
}

i, .unselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon-button {
  display: block;
  background: $dark-purple;
  box-shadow: $shadow;
  width: 50px;
  height: 50px;
  min-width: 50px;
  max-width: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: white;
}
